<div>
  <h2>Tables</h2>
  <ul>
    <li><%= link_to "Apparances", appearances_path%></li>
    <li><%= link_to "Artists", artists_path %></li>
    <li><%= link_to "Event Performances", event_performances_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Featuring", featuring_index_path %></li>
    <li><%= link_to "Functions", functions_path %></li>
    <li><%= link_to "Genre Dependencies", genre_dependencies_path %></li>
    <li><%= link_to "Genres", genres_path %></li>
    <li><%= link_to "Member Functions", member_functions_path %></li>
    <li><%= link_to "Members", members_path %></li>
    <li><%= link_to "People", people_path %></li>
    <li><%= link_to "Performances", performances_path %></li>
    <li><%= link_to "Production Types", production_types_path %></li>
    <li><%= link_to "Productions", productions_path %></li>
    <li><%= link_to "Radio Performances", radio_performances_path %></li>
    <li><%= link_to "Radios", radios_path %></li>
    <li><%= link_to "Records", records_path %></li>
    <li><%= link_to "Songs", songs_path %></li>
    <li><%= link_to "Soundtracks", soundtracks_path %></li>
  </ul>
  <h2>Queries</h2>
  <ul>
    <li><%= link_to "Records with their song", static_pages_song_record_path %></li>
  </ul>
</div>