<%= form_with(model: member_function, local: true) do |form| %>
  <% if member_function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_function.errors.count, "error") %> prohibited this member_function from being saved:</h2>

      <ul>
        <% member_function.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.number_field :member_id %>
  </div>

  <div class="field">
    <%= form.label :function %>
    <%= form.text_field :function %>
  </div>

  <div class="field">
    <%= form.label :since %>
    <%= form.date_select :since %>
  </div>

  <div class="field">
    <%= form.label :function_still_active do %>
      <%= form.check_box :function_still_active %>
      <span>Function active</span>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :until %>
    <%= form.date_select :until %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
