<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :stage_name %>
    <%= form.text_field :stage_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :date_of_death_nil do %>
      <%= form.check_box :date_of_death_nil, id: "date_of_death_nil" %>
      <span id="person_didnt_die">Person didn't die yet</span>
    <% end %>
    <%= form.label :date_of_death %>
    <%= form.date_select :date_of_death, id: "date_of_death_" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
