<p id="notice"><%= notice %></p>

<p>
  <strong>Record:</strong>
  <%= @record.record_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @record.release_date %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @record.genre_id %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
