<p id="notice"><%= notice %></p>

<h1>Featuring</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @featuring.each do |featuring| %>
      <tr>
        <td><%= featuring.artist_id %></td>
        <td><%= featuring.song_id %></td>
        <td><%= link_to 'Show', featuring %></td>
        <td><%= link_to 'Edit', edit_featuring_path(featuring) %></td>
        <td><%= link_to 'Destroy', featuring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Featuring', new_featuring_path %>
